In [1]:
import pandas as pd
import numpy as np

In [2]:
a = [130, 130, 130, 130, 13, 13, 13, 13, 131, 131, 131, 3334, 4555, 131, 132, 133, 133, 133, 135]

In [3]:
df = pd.DataFrame(a, columns=["runs"])
df1 = df.copy()

In [4]:
df.drop_duplicates(subset=["runs"], inplace=True)

In [5]:
df

    runs
0    130
4     13
8    131
11  3334
12  4555
14   132
15   133
18   135

In [7]:
dif = df.runs.diff().shift(-1)

In [8]:
dif

0     -117.0
4      118.0
8     3203.0
11    1221.0
12   -4423.0
14       1.0
15       2.0
18       NaN
Name: runs, dtype: float64